#player-cards {
  position: absolute;
  display: flex;
  left: 70%;
  flex-direction: row; /* Display images horizontally */
  align-items: flex-start; /* Prevent other elements from being pushed down */
  gap: 10px;
}

.imgZoom:hover{
  transform: scale(1.6);
}
.imgZoom {
  transition: transform 0.2s ease-in-out;
}
